/* App.css */
body {
  margin: 0;
  padding: 0;
  background-color: #121212; /* fundo escuro */
  font-family: 'Segoe UI', sans-serif;
  color: #ffffff;
}

.app-container {
  display: flex;
  min-height: 100vh;
  background-color: #121212;
  color: #ffffff;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #1e1e1e; /* fundo ligeiramente mais claro */
}